<div class="formblock">
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">  
        <div class="formdiv"> 
        <label for="username">username :</label><br>
        <input type="text" class="username" formControlName="username">
        <small class="form-error" *ngIf="username?.invalid && (username?.dirty || username?.touched)">Username can't be empty</small>
        <br>
       </div>
       <div >
        <label for="password">password:</label><br>
        <input type="password" class="password" formControlName="password" minlength="6">
        <small class="form-error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <small *ngIf="password?.errors?.required">Password can't be empty!!</small>
            <small *ngIf="password?.errors?.minlength">Password must contain atleast 6 characters</small>
        </small>
        <br>
       </div >
    
        <button type="submit"  class="sub">Submit</button>
      </form> 
    </div> 
    <div style="text-align:center">
      <label class="error-message">{{ submitMessage }}</label>
    </div>
    